h1{
    color: red;
    text-align: center;
}
.coin{
    text-align: center;
}
.btn{
    text-align: center;
}
.counter{
    display: flex;
    justify-content: center;
    gap: 50px;
}
footer{
    text-align: center;
}
